.preview {
    position: 'relative';
}

.captureContainer {
    display: flex;
    position: absolute;
    justify-content: center;
    z-index: 1;
    bottom: 0;
    width: 50%;
    border: 2px solid black;
}

.captureButton {
    background-color: #fff;
    border-radius: 50%;
    height: 56;
    width: 56;
    color: #000;
    margin: 20;
}

.captureImage {
    width: 100%;
}