.container {
    height: 100%;
    width: 100%;
}

.halfLeft {
    width: calc(50% - 10px);
    float: left;
    box-sizing: border-box;
}

.halfRight {
    width: calc(50% - 10px);
    float: right;
    box-sizing: border-box;
}
