.container {
    position: relative;
    width: 100%;
    height: 240px;
}

.horizontal {
    position: relative;
    width: 240px;
    height: 240px;
    margin: 0 auto;
}

.vertical {
    position: relative;
    width: 140px;
    height: 140px;
    margin: 0 auto;
    transform: translateY(-190px);
}

.topLeft {
    position: absolute;
    top: 0;
    left: 0;
}

.topRight {
    position: absolute;
    top: 0;
    right: 0;
}

.bottomLeft {
    position: absolute;
    bottom: 0;
    left: 0;
}

.bottomRight {
    position: absolute;
    bottom: 0;
    right: 0;
}

.tools {

}

.manipulator {

}

.obs_tool {

}
