.halfLeft {
    width: calc(50% - 10px);
    float: left;
    box-sizing: border-box;
}

.halfRight {
    width: calc(50% - 10px);
    float: right;
    box-sizing: border-box;
}

.squashed {
    margin-top: 0;
    margin-bottom: 0;
}

.time {
    text-align: center;
}

.amplitude {
    text-align: center;
}

.bottom {

}

.spawnButton {
    text-align: auto;
}
