.container {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.modeSelect {
  display: flex;
  flex-direction: column;
  width: 10%;
}

.camView {
  width: 90%;
}

.buttonSelect {
  display: flex;
  flex-direction: column;
}

.btn {
  height: 40px;
}
