.container {
    position: relative;
    display: flex;
    flex-direction: column;
}

innerRow {
    position: relative;
    display: flex;
    flex-direction: row;
}

.halfLeft {
    width: calc(50% - 10px);
    float: left;
    box-sizing: border-box;
    padding-bottom: 20px;
}

.halfRight {
    width: calc(50% - 10px);
    float: right;
    box-sizing: border-box;
    padding-bottom: 20px;
}

.halfLeft>p,
.halfRight>p {
    height: 2rem;
}

.halfLeft>input,
.halfRight>input {
    width: 100%;
}